._1ZS_xta5HMXzR8JgxDH6n7 {
    position: relative !important;
    top: 0px !important;
    left: 6px !important;
    margin-block: 6px;
    width: calc(100% - 72px);
}

._20QAC4WMXm8qFE8waUT5oo {
    position: relative !important;
    top: 0px !important;
    border-block: 1px solid var(--wmp-border-color) !important;
    padding-block: 6px !important;
    padding-left: 10px !important;
    width: calc(100% - 6px) !important;
}

._2TKEazUUS3TlniZfpc8OOe {
    position: relative !important;
    top: 0px !important;
    right: unset;
    width: fit-content;
}

._1_yS5UP7el0aN4vntx3dx {
    min-height: 8px !important;
}