/* menus */

.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div, 
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt,
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz.DialogMenuPosition ._1tiuYeMmTc9DMG4mhgaQ5w._DialogInputContainer, 
._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLpt,
.contextMenu {
    background: linear-gradient(90Deg, var(--sys-3D-Face), var(--sys-3D-Face) 26px, var(--sys-3D-Shadow) 26px, var(--sys-3D-Shadow) 27px, var(--sys-3D-Highlight) 27px, var(--sys-3D-Highlight) 28px, var(--sys-3D-Face) 28px, var(--sys-3D-Face)) !important;
    border: 1px solid var(--sys-3D-Dark-Shadow) !important;
    box-shadow: inset 2px 2px 0px var(--sys-3D-Highlight), inset -2px -2px 0px var(--sys-3D-Highlight), 4px 4px 4px rgba(0, 0, 0, 0.4) !important;	
    padding: 2px 2px 2px 2px !important;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5)) !important;
}

/*top gui menus*/
/*
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt {
   background: linear-gradient(90Deg, var(--sys-3D-Face), var(--sys-3D-Face) 26px, var(--sys-3D-Shadow) 26px, var(--sys-3D-Shadow) 27px, var(--sys-3D-Highlight) 27px, var(--sys-3D-Highlight) 28px, var(--sys-3D-Face) 28px, var(--sys-3D-Face)) !important;
    border: 1px solid var(--sys-3D-Dark-Shadow) !important;
    box-shadow: inset 2px 2px 0px var(--sys-3D-Highlight), inset -2px -2px 0px var(--sys-3D-Highlight), 4px 4px 4px rgba(0, 0, 0, 0.4) !important;	
}
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt > .contextMenuItem {
	padding-block: 1px !important;
    cursor: default !important;
    padding-inline: 6px !important;
	max-width: fit-content !important;
}

.DesktopUI .PP7LM0Ow1K5qkR8WElLpt > .contextMenuItem:hover {
    color: var(--sys-menu-text) !important;
    background: var(--sys-highlight) !important;
}
*/


/*
button
._DialogInputContainer
*/

/* menu items */

.contextMenuItem,
.contextMenuItem,
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY .DialogToggle_Label,
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div > div,
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz.DialogMenuPosition > div > div,
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY,
._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu.DesktopUI, 
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu {
    color: var(--sys-menu-text) !important;
    font-size: 11px !important;
    font-weight: 100 !important;
    font-family: Tahoma !important;
    padding-block: 1px !important;
    cursor: default !important;
	/*background: red !important;*/
	background: linear-gradient(90Deg, var(--sys-3D-Face), var(--sys-3D-Face) 26px, var(--sys-3D-Shadow) 26px, var(--sys-3D-Shadow) 27px, var(--sys-3D-Highlight) 27px, var(--sys-3D-Highlight) 28px, var(--sys-3D-Face) 28px, var(--sys-3D-Face))linear-gradient(90Deg, var(--sys-3D-Face), var(--sys-3D-Face) 26px, var(--sys-3D-Shadow) 26px, var(--sys-3D-Shadow) 27px, var(--sys-3D-Highlight) 27px, var(--sys-3D-Highlight) 28px, var(--sys-3D-Face) 28px, var(--sys-3D-Face))linear-gradient(90Deg, var(--sys-3D-Face), var(--sys-3D-Face) 26px, var(--sys-3D-Shadow) 26px, var(--sys-3D-Shadow) 27px, var(--sys-3D-Highlight) 27px, var(--sys-3D-Highlight) 28px, var(--sys-3D-Face) 28px, var(--sys-3D-Face)) !important;
    padding-left: 30px !important;
	padding-right: 2px !important;
}

.contextMenuItem:hover,
.contextMenuItem:hover,
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div > div:hover, 
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz.DialogMenuPosition > div > div:hover,
._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu.DesktopUI:hover, 
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu:hover {
    color: var(--sys-menu-text) !important;
    /*background: var(--sys-highlight) !important;*/
	outline: 1px solid #A9C9F6 !important;
    outline-offset: -1px !important;
    border-radius: 5px !important;
    background: linear-gradient(#E1F6FC, #BFDBFC) !important;
    box-shadow: inset 0px 2px 0px #ffffff7d !important;
    color: #000 !important;
}

.DialogMenuPosition ._DialogInputContainer div,
._1ZpBQtDqcKBbfIIv01Vs1R>div.DesktopUI div, 
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R>div div,
.PP7LM0Ow1K5qkR8WElLpt div, 
._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLpt div,
.PP7LM0Ow1K5qkR8WElLpt div,
._29AJUo6aKT93gX24N5WFj_ div,
.contextMenu div,
.popup_menu div {
	background-color: transparent !important;
}

.contextMenuUnselectable,
.contextMenuUnselectable.disabled,
.contextMenuGameTitle,
.contextMenuBroadcast,
.contextMenuGameOptions{
  background-color: transparent !important;
}

.contextMenuItem,
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY .DialogToggle_Label,
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div > div,
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz.DialogMenuPosition > div > div,
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY,
._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu.DesktopUI, 
.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R ._1ZtpSq62fy_8W-_0pMn5cu {
    background-color: transparent !important;
    cursor: unset !important;
	color: var(--sys-menu-text) !important;
    font-size: 11px !important;
    font-weight: 100 !important;
    font-family: Tahoma !important;
}

/*expanded item*/
._18z-3vkWndCBO5WJgFldRK._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
	
}

/*Menu Seperators*/

.WUOrULWKkGLl3ZUQdDXg8.WUOrULWKkGLl3ZUQdDXg8+._1n7Wloe5jZ6fSuvV18NNWI {
    border-top: 1px solid var(--sys-3D-Shadow) !important;
    box-shadow: inset 0px 1px 0px var(--sys-3D-Highlight) !important;
    border: unset !important;
	display: none !important;
}

.WUOrULWKkGLl3ZUQdDXg8,
.EDl_mzaY3WxkgmYVD8W4d ._2kvdTEDgtIT7T9wZIzanom {
	border-top: 1px solid var(--sys-3D-Shadow) !important;
    box-shadow: inset 0px 1px 0px var(--sys-3D-Highlight) !important;
    height: 2px !important;
	margin-left: 23px !important;
	display: none !important;
}



/*Menu Arrows*/

._1n7Wloe5jZ6fSuvV18NNWI._2RlEO6dx1vo3OB7EFJnzDi ._114nFoGF7tZ4PpremDP2w0 {
    margin: 0px !important;
    padding-left: 64px !important;
}
._1n7Wloe5jZ6fSuvV18NNWI._2RlEO6dx1vo3OB7EFJnzDi .SVGIcon_DownArrowContextMenu {
    display: none !important;
}
._114nFoGF7tZ4PpremDP2w0::after {
    content: '4';
    font-family: Marlett;
    font-size: 12px;
}