/*Force command bar to always be visible*/
/*
._1Zsv2NkXHxE5LTvs92Jqvd ._16jZ3HEbtaJTl80pQINN2Y {
    height: unset !important;
    animation: none !important;
}
*/
/*Force command bar to stay at the top of the page*/
/*
.pzuGfMA6MeGlV2I3yY60c {
    position: relative !important;
}
*/