:root {
	--sys-3D-Face: #F0F0F0 !important;
	--sys-3D-Shadow: #A0A0A0 !important;
	--sys-3D-Dark-Shadow: #696969 !important;
	--sys-3D-Light: #E3E3E3 !important;
	--sys-3D-Highlight: #FFFFFF !important;
	--sys-button-text: #000000 !important;
	--sys-tooltip-background: #FFFFFF !important;
	--sys-tooltip-text: #000000 !important;
	--sys-window-background: #FFFFFF !important;
	--sys-window-text: #000000 !important;
	--sys-window-frame: #000000 !important;
	--sys-menu: #F0F0F0 !important;
	--sys-menu-text: #000000 !important;
	--sys-highlight-text: #FFFFFF !important;
	--sys-highlight: #0078D7 !important;
	--sys-activetitle: #99B4D1 !important;
	--sys-activetitle-gradient: #B9D1EA !important;
}
